main {

    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-flex-publi {
    background-color: darkgray;
   /* height: 700px;*/
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#storys {
    background-color: var(--cor-branco);
    width: 100%;
    /* height: 300px;*/
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 30px;
}

#storys::-webkit-scrollbar {
    width: 0;

}

.card-storys {
    /*background-color: dodgerblue;*/
}

.card-storys>a {
    text-decoration: none;
    font-size: var(--tamanho-fonte-sm);
    color: black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-storys>a>img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.formulario-botao-azul {
    width: 135px;
    display: inline-block;
}

#criar-publi {
    padding: 10px;
}

#criar-publi>h2 {
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-lg);
    font-weight: 700;
    margin-bottom: 30px;

}

#criar-publi>form>textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    resize: none;
    border: var(--borda);

}

#criar-publi>form>textarea::placeholder{
    color:#636262;
}

#criar-publi>form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#criar-publi > form > footer{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

#publicacoes{
    background-color:#636262;
    width: 100%;
}

.card-publi{
    background-color: var(--cor-branco);
    width: 100%;

}

.card-publi > header{
    padding: 15px;
}
.card-publi > header > a { 
     display: flex;
     align-items: center;
     column-gap: 10px;
     text-decoration: none;
     color: var(--cor-preto);
     text-transform: lowercase;
}

.card-publi > figure{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.imagem-publicacao{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 350px;
}

.card-publi > figure > figcaption{
        color: var(--cor-preto);
        font-size: var(--tamanho-fonte-md);
        font-weight: 500;
        display: flex;
        align-items: center;
        column-gap: 5px;
        order: 2;
        margin: 15px;

}

.descricao-publicacao{
    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;
}

.interacoes-publicacao{
    display: flex;
    width: 95px;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    /*gap*/
    column-gap: 15px;
    order: 1;
    margin-left: 15px;
    margin-top: 15px;
}

.interacoes-publicacao > button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card-publi > figure > button{
    background-color: transparent;
    border: none;

    color: var(--cor-cinza);
    font-size: var(--tamanho-fonte-sm);

    order: 3;

    margin-left: 15px;
    align-items: flex-start;
}